---
permalink: /
eleventyNavigation:
  title: Plugin
  order: 0
eleventyComputed:
  summary: |-
    {{ ('https://raw.githubusercontent.com/anyblades/eleventy-blades/refs/heads/main/README.md' if site.prod else '../../eleventy-blades/README.md')
      | fetch | section('summary') | markdownify | safe }}
  description: "{{ summary | remove_tag('h1') | safe }}"
revised: 2026-02-28
bricks:
  - content_here: true
  - path: https://raw.githubusercontent.com/anyblades/eleventy-blades/refs/heads/main/README.md
    section: install
  - md: |-
      ---
      ## Documentation {#docs}
  - tpl: "{% include './sitenav.njk' %}"
  - md: |-
      ---
      ## Templating <small>tricks</small> {#tpl}
      <!-- https://github.com/anyblades/awesome-11ty-build-awesome#tutorials -->
  #     {#njk-vscode}
  #     <!-- https://bsky.app/profile/any.digital/post/3mdjvepwr7k2w -->
  # - teaser: https://blades.ninja/html/
  - path: https://blades.ninja/html/
    section: toc
  # - path: ./_tpl.md
  - md: ---
  - path: https://raw.githubusercontent.com/anyblades/eleventy-blades/refs/heads/main/README.md
    section: featured
---

<section class="hero">
  {{ summary | safe }}

  <nav>
    <p>
      <a href="/plugin/" role="button">Install &nbsp;›</a><br />
      <sub>via Plugin</sub>
    </p>
    <p>
      <a href="https://build.blades.ninja/" role="button" class="contrast"
        >Build Awesome Starter &nbsp;↗</a
      ><br />
      <sub>11ty in root • Tailwind or Pico</sub>
    </p>
    <p>
      <a href="https://subtle.blades.ninja/" role="button" class="contrast"
        >Subtle Starter &nbsp;↗</a
      ><br />
      <sub>11ty in subfolder • Pico</sub>
    </p>
  </nav>
</section>

<hr />
